@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<partial name="_StatusMessage" for="StatusMessage" />
<section class="form-container col-12" aria-label="Login Form Section">

    <div class="form-container-div col-4">
        <h2>Change password</h2>

        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.OldPassword" type="password" aria-label="Password" required placeholder="Please enter your old password." />
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.NewPassword" type="password" aria-label="Password" placeholder="Please enter your new password." />

                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword"  type="password" aria-label="Password" placeholder="Please confirm your new password." />

                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>


            <div>
                <button id="login-submit" type="submit">Update password</button>
            </div>
        </form>
       

    </div>
</section>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
