@{
    ViewData["Title"] = "Payment Success";
}

<h2>Payment Success</h2>

<p>تمت عملية الدفع بنجاح!</p>

<h4>PayPal Response:</h4>
<pre>
@Html.Raw(System.Text.Json.JsonSerializer.Serialize(ViewBag.PaypalResponse, new System.Text.Json.JsonSerializerOptions { WriteIndented = true }))
</pre>

<a href="@Url.Action("Index", "Payment")" class="btn btn-success">رجوع للمدفوعات</a>
