@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<section class="form-container" aria-label="Sign Up Form Section">

    <div class="form-container-div col-4">

        <h2>SignUp Form</h2>

        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class=" mb-3">
                <input asp-for="Input.FirstName" type="text" placeholder="FirstName" aria-label="FirstName" required />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>

            <div class=" mb-3">
                <input asp-for="Input.LastName" type="text" placeholder="LastName" aria-label="LastName" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>






            <div class=" mb-3">
                <input asp-for="Input.Email" type="email" placeholder="Email Address" aria-label="Email Address" required />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class=" mb-2">
                <input asp-for="Input.Password" type="password" placeholder="Password" aria-label="Password" required />

                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" type="password" placeholder="ConfirmPassword" aria-label="Password" required />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div>
                <button id="login-submit" type="submit">SignUp</button>
            </div>

            <div class="sub-text">
                <br /> or<br />
                Dont have an account?  <a asp-page="./Login" tabindex="0" asp-route-returnUrl="@Model.ReturnUrl">Login ...</a>
            </div>
        </form>


    </div>
</section>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
